<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EncryptionWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EncryptionWebApp.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>  
</head>
<body>
   
  <header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #f3f8f7;">Encryption</span><span style="color: #fff;">Calculator</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!"><span style="color: #fff;">DES</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!"><span style="color: #fff;">AES</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!"><span style="color: #fff;">Caesar Cipher</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!"><span style="color: #fff;">Vigenere Cipher</span></a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <script>
      $(window).scroll(function(){
      var scroll = $(window).scrollTop();
      if(scroll < 300){
          $('.fixed-top').css('background', 'transparent');
      } else{
          $('.fixed-top').css('background', 'rgba(41, 37, 39, 1)');
      }
      });
  </script>

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div class = "overlay">
            <div id="intro" class="bg-image vh-100 mask-custom" style="
                background-image: url('https://wallpapercave.com/wp/wp4770081.jpg');
                max-height: 380px;
                background-color: rgba(255, 255, 255, .15);
                filter: blur(8px);
                -webkit-filter: blur(8px)
                ">
            </div>
        </div>
        <div class="centered">Encryption/Decryption Calculator</div>
        <div class="centered-lower">secure all your needs</div>
    </div>
    <!-- Intro -->
  </section>
  
  <!--Section: Design Block-->
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row">
          <div class="col-4">
            <div class="footcol">
              <h3 style="font-weight: bold;">Sitemap</h3>
              <div style="font-weight: bold;">All our pages</div>
              <ul style="list-style-type: none">
                <li>DES</li>
                <li>AES</li>
                <li>Vigenere
                  Cipher
                </li>
                <li>Caesar
                  Cipher
                </li>
             </ul>
            </div>
          </div>
          <div class="col-4">
            <div class="footcol">
              <h3 style="font-weight: bold;">Contact</h3>
              <div>(412) 862-7528</div>
              <div>kenzmcintyre@gmail.com</div>
            </div>
          </div>
           <div class="col-4">
            <div class="footcol">
              <h3 style="font-weight: bold;">Resources</h3>
              <a href="https://github.com/mcintyrema/EncryptionWebApp">GitHub Repo</a>
              <div>
                <img src="https://webstockreview.net/images/lock-clipart-lock-chain-11.png" style="height: 1.2cm; width: .9cm; padding-top: 10px;">
              </div>
            </div>
          </div>
        </div>
        <div class="container" id="footbot">
            &copy; 2023 - University of Pittsburgh - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>