@page
@model IndexModel
@{
    ViewData["Title"] = "Caesar page";
}
<br>
<section>
    <div class="row" style="display: flex">
        <h2>Caesar Cipher</h2>
    </div>
    <div class="row" style="display: flex">
        <h4>Intro to the Caesar Cipher</h4>
    </div>
    <div class="row" style="display: flex">
        <p>The Caesar Cipher technique is one of the earliest and simplest methods of encryption technique. It’s simply a type of substitution cipher, i.e., each letter of a given text is replaced by a letter with a fixed number of positions down the alphabet. For example with a shift of 1, A would be replaced by B, B would become C, and so on. The method is apparently named after Julius Caesar, who apparently used it to communicate with his officials. 

        Thus to cipher a given text we need an integer value, known as a shift which indicates the number of positions each letter of the text has been moved down. 
        The encryption can be represented using modular arithmetic by first transforming the letters into numbers, according to the scheme, A = 0, B = 1,…, Z = 25. Encryption of a letter by a shift n can be described mathematically as. 

        E_n(x)=(x+n)mod\ 26              
        (Encryption Phase with shift n)

        D_n(x)=(x-n)mod\ 26              
        (Decryption Phase with shift n)</p>
    </div>
    <div class="row" style="display: flex">
        <h4>How it Works</h4>
    </div>
    <div class="row" style="display: flex">
        <p>Traverse the given text one character at a time .
            For each character, transform the given character as per the rule, depending on whether we’re encrypting or decrypting the text.
            Return the new string generated.
            A program that receives a Text (string) and Shift value( integer) and returns the encrypted text. </p>
    </div>
    <div class="row" style="display: flex">
        <h4>Advantages</h4>
    </div>
    <div class="row" style="display: flex">
        <p>
            <ul>
                <li>
                    Easy to implement and use thus, making suitable for beginners to learn about encryption.
                </li>
                <li>
                    Can be physically implemented, such as with a set of rotating disks or a set of cards, known as a scytale, which can be useful in certain situations.
                </li>
                <li>
                    Requires only a small set of pre-shared information.
                </li>
                <li>
                    Can be modified easily to create a more secure variant, such as by using a multiple shift values or keywords.
                </li>
            </ul>

        </p>
    </div>
    <div class="row" style="display: flex">
        <h4>Disadvantages</h4>
    </div>
    <div class="row" style="display: flex">
        <p>
            <ul>
                <li>
                    It is not secure against modern decryption methods.          
                </li>
                <li>
                    Vulnerable to known-plaintext attacks, where an attacker has access to both the encrypted and unencrypted versions of the same messages.
                </li>
                <li>
                    The small number of possible keys means that an attacker can easily try all possible keys until the correct one is found, making it vulnerable to a brute force attack.
                </li>
                <li>
                    It is not suitable for long text encryption as it would be easy to crack.
                </li>
                <li>
                    It is not suitable for secure communication as it is easily broken.
                </li>
                <li>
                    Does not provide confidentiality, integrity, and authenticity in a message.
                </li>
            </ul>
        </p>
    </div>
</section>
    
<br>
<br>
</div>
<div class="container-fluid p-0">
    <div class="row" style="display: flex">
        <h2 class="methods" style="position: absolute; font-family:'Suez One'; font-weight: 800; text-shadow: 0.75px 1px 5px grey; text-decoration: underline; left: 35%">Learn the Methodologies</h2>
    </div>
    <br>
    <br>
    <br>
    <div class="row" style="display: flex;">
        <div class="col-3">
            <div class="img-container">
                <a asp-page="/DES">
                    <img class="img-meth" src="https://media.wired.com/photos/593320d858b0d64bb35d4655/master/w_2560%2Cc_limit/163727876.jpg" style="left: 5%;"/>
                    <div id="overlay" style="left: 5%;"><h3 class="methodOverlay">DES</h3></div>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="img-container">
                <a asp-page="/AES"></a>
                    <img class="img-meth" src="https://blog.lumen.com/wp-content/uploads/2019/09/thumbnail-5b8b450c1677680c0accc91fa88bb1f2.jpeg" style="left: 30%;"/>
                    <div id="overlay" style="left: 30%;"><h3 class="methodOverlay">AES</h3></div>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="img-container">
                <a asp-page="/CaesarCipher">
                    <img class="img-meth" src="https://www.thesslstore.com/blog/wp-content/uploads/2018/08/bigstock-Safety-Concept-Pixelated-Key-243299677.jpg" style="right: 30%;"/>
                    <div id="overlay" style="right: 30%;"><h3 class="methodOverlay">Caesar Cipher</h3></div>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="img-container">
                <a asp-page="/VigenereCipher">
                    <img class="img-meth" src="https://www.science.org/do/10.1126/science.aaz1998/abs/ca_0823NID_Lock_Numbers_Code_online.jpg" style="right: 5%;"/>
                    <div id="overlay" style="right: 5%;"><h3 class="methodOverlay">Vigenere Cipher</h3></div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
