@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-5">
            <h2 class="texttype" style="position: absolute; left: 17%; font-family:'Suez One'; font-weight: 800; text-shadow: 0.75px 1px 5px grey;">Plaintext</h2>
        </div>
        <div class="col-2">
            <img src="https://th.bing.com/th/id/R.3e95600aff7269a49b225753fb3fdc8e?rik=NR1PyyclkhmDYQ&pid=ImgRaw&r=0" width="50" height="60" style="left: 48%; position: absolute" class="swapButton">
        </div>
        <div class="col-5">
            <h2 class="texttype" style="position: absolute; right: 17%; font-family:'Suez One'; font-weight: 800; text-shadow: 0.75px 1px 5px grey;">Ciphertext</h2>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row" style="display: flex">
        <div class="col-5">
            <textarea id="freeform" name="freeform" style="position: absolute; left: 5%; border-width: medium; box-shadow: 5px 5px 5px gray" rows=10 cols=50></textarea>
        </div>
        <div class="col-2">
            <div class="container-fluid p-0">
                <div class="row-3" style="padding-top: 10px; padding-bottom: 20px">
                    <select name="algorithmDropDown" id="algorithmSelect" class="custom-select">
                            <option value="">Pick Algorithm</option>
                            <option value="DES">DES</option>
                            <option value="TripleDES">Triple DES</option>
                            <option value="AES">AES</option>
                            <option value="CaesarCipher">Caesar Cipher</option>
                            <option value="VigenereCipher">Vigenere Cipher</option>
                    </select>
                </div>
                <div class="row-3" style="padding-top: 10px; padding-bottom: 20px">
                    <select name="alphabetDropDown" id="alphabetSelect" class="custom-select">
                            <option value="">Pick Alphabet</option>
                            <option value="DES">Binary</option>
                            <option value="TripleDES">Alphabet</option>
                            <option value="AES">Alphanumeric</option>
                    </select>
                </div>
                <div class="row-3" style="padding-top: 10px; padding-bottom: 20px">
                    <button type="button" class="btn btn-primary btn-lg" onclick="getOption()">ENTER</button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <textarea id="freeform" name="freeform" style="position: absolute; right: 5%; border-width: medium; box-shadow: 5px 5px 5px gray" rows=10 cols=50></textarea>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="container-fluid p-0">
    <div class="row" style="display: flex">
        <h2 class="methods" style="position: absolute; font-family:'Suez One'; font-weight: 800; text-shadow: 0.75px 1px 5px grey; text-decoration: underline; left: 35%">Learn the Methodologies</h2>
    </div>
    <br>
    <br>
    <br>
    <div class="row" style="display: flex;">
        <div class="col-3">
            <div class="img-container">
                <img class="img-meth" src="https://media.wired.com/photos/593320d858b0d64bb35d4655/master/w_2560%2Cc_limit/163727876.jpg" style="left: 5%;"/>
                <div id="overlay" style="left: 5%;"><h3 class="methodOverlay">DES</h3></div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-container">
                <img class="img-meth" src="https://blog.lumen.com/wp-content/uploads/2019/09/thumbnail-5b8b450c1677680c0accc91fa88bb1f2.jpeg" style="left: 30%;"/>
                <div id="overlay" style="left: 30%;"><h3 class="methodOverlay">AES</h3></div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-container">
                <img class="img-meth" src="https://www.thesslstore.com/blog/wp-content/uploads/2018/08/bigstock-Safety-Concept-Pixelated-Key-243299677.jpg" style="right: 30%;"/>
                <div id="overlay" style="right: 30%;"><h3 class="methodOverlay">Caesar Cipher</h3></div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-container">
                <img class="img-meth" src="https://www.science.org/do/10.1126/science.aaz1998/abs/ca_0823NID_Lock_Numbers_Code_online.jpg" style="right: 5%;"/>
                <div id="overlay" style="right: 5%;"><h3 class="methodOverlay">Vigenere Cipher</h3></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
    function getOption(){
        selectElement = document.querySelector('#algorithmSelect');
        output = selectElement.options[selectElement.selectedIndex].value;
        console.log(output)
        return output
    }
</script>